html,
body {
  background: #ffffff;
  color: #333;
  font-size: 17px;
  line-height: 1;
  font-family: "Roboto-Light", sans-serif;
}

a, .as-link {
  color: #4f8ad9;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover, .as-link:hover {
  color: #4f8ad9;
}

a:focus, .as-link:focus {
  outline: none;
}

.as-link {
  cursor: pointer;
}

b, strong {
  font-weight: normal;
  font-family: "Roboto-Bold", sans-serif;
}

h2, .h2, h3, .h3, h4 {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: normal;
  line-height: 1.2;
}

h1, .h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 33px;
  font-weight: normal;
  font-family: "Roboto-Bold", sans-serif;
}

h2, .h2 {
  text-transform: uppercase;
  font-size: 33px;
  @include RobotoBold;
}

h3, .h3 {
  font-size: 28px;
  font-family: "Roboto-Medium", sans-serif;
}

h4 {
  font-size: 20px;
  font-family: "Roboto-Regular", sans-serif;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: 700;
  font-family: "Roboto-Bold", sans-serif;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.title {
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Roboto-Bold", sans-serif;
}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none;
  box-shadow: none;
}

.text-selection {
  color: #6ba0b2;
}
