@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/mixin";

@import "common/fonts";
@import "common/common";
@import "common/form";
@import "common/checkbox-radio";
@import "common/btn";
@import "blocks/make-choice";
@import "blocks/datepicker";
@import "blocks/hint";
@import "blocks/header";
@import "blocks/navbar";
@import "blocks/insurance";
@import "blocks/manual";
@import "blocks/statistics";
@import "blocks/faq";
@import "blocks/partners";
@import "blocks/latest-articles";
@import "blocks/footer";
@import "blocks/page";
@import "blocks/contacts";
@import "blocks/blog";
@import "blocks/search-page";
@import "blocks/form-insurance";
@import "blocks/insurance-steps";
