@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/form";
@import "common/checkbox-radio";
@import "common/btn";
@import "blocks/make-choice";
@import "blocks/datepicker";
@import "blocks/hint";
@import "blocks/header";
@import "blocks/navbar";
@import "blocks/insurance";
@import "blocks/manual";
@import "blocks/statistics";
@import "blocks/faq";
@import "blocks/partners";
@import "blocks/latest-articles";
@import "blocks/footer";
@import "blocks/page";
@import "blocks/contacts";
@import "blocks/blog";
@import "blocks/search-page";
@import "blocks/form-insurance";
@import "blocks/insurance-steps";
@import "blocks/worth-services";
@import "blocks/find-agent";

.wrapper {
  overflow-x: hidden;
}

.insurance-info {
  margin-bottom: 50px;
  min-height: 121px;
  background-color: #f2f9fb;
  font-size: 19px;
  line-height: 1.4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include RobotoRegular;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 50;
  border: 0;
  background-color: transparent;
  svg {
    width: 20px;
    height: 20px;
    fill: #b0aaaa;
  }
}

#terms-information {
  line-height: 1.4;
}
