@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "blocks/header";
@import "common/form";
@import "common/checkbox-radio";
@import "common/btn";
@import "blocks/hint";
@import "blocks/navbar";
@import "blocks/insurance";
@import "blocks/manual";
@import "blocks/faq";
@import "blocks/partners";
@import "blocks/footer";
@import "blocks/page";
@import "blocks/contacts";
@import "blocks/search-page";
@import "blocks/form-insurance";
@import "blocks/worth-services";
@import "blocks/find-agent";

.wrapper {
  overflow-x: hidden;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 50;
  border: 0;
  background-color: transparent;
  svg {
    width: 20px;
    height: 20px;
    fill: #b0aaaa;
  }
}

#terms-information {
  line-height: 1.4;
}

#map-canvas {
  position: absolute;
  min-height: 100%;
  width: 100%;
  height: 100px;
  border: none;
  left: 0;
  bottom: 0;
}