.header-contacts {
  background: url(../img/bg-contacts.jpg) no-repeat 0 0;
  background-size: cover;
}

.contacts {
  padding-top: 103px;
  padding-bottom: 200px;
}

.contacts-title {
  margin-bottom: 55px;
  color: #505b6a;
}

.contacts-form {
  display: none;
  .required-field.col-md-12::before {
    top: 15px;
    margin-top: 0;
  }
  .btn-blue {
    margin-top: 15px;
    margin-right: 15px;
    padding: 22px 44px 18px 45px;
    font-size: 16px;
  }
}

.contacts-button {
  width: 100%;
  overflow: hidden;
  text-align: right;
}

.contacts-emails {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
  letter-spacing: -.1px;
}

.contacts-emails:after {
  display: table;
  clear: both;
  content: "";
}

.contacts-emails li:not(:first-child):not(:last-child) {
  padding: 8px 0 19px;
}

.contacts-emails a:not(:hover) {
  color: #505b6a;
}

.contacts-emails-message {
  width: 68px;
  height: 68px;
  margin-right: 20px;
  border-radius: 50%;
  float: left;
  background-color: #a7c343;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contacts-emails-message .message {
  width: 27px;
  height: 24px;
  fill: #ffffff;
}

.contacts-requisites li:after {
  display: table;
  clear: both;
  content: "";
}

.contacts-requisites li:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-requisites .text-selection {
  float: left;
}

.contacts-requisites-text {
  padding-left: 195px;
  line-height: 1.2;
  display: block;
}

.contacts-form-toggle-open .next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.contacts-form-toggle-open + .contacts-form {
  display: block;
  padding-top: 65px;
}

.contacts-form-toggle-open .required-field {
  left: 31px;
}
