footer {
  padding-top: 82px;
  padding-bottom: 65px;
  position: relative;
  color: #ffffff;
  background: url(../img/bg-footer-img.jpg) no-repeat center;
  &::before {
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(#000, .6);
    background-size: cover;
    z-index: 5;
  }
  .container {
    position: relative;
    z-index: 7;
  }
  a {
    color: #ffffff;
  }
}

.footer-subscribe {
  position: relative;
}

.footer-subscribe .btn {
  position: absolute;
  right: 17px;
  bottom: 10px;
}

.footer-subscribe .btn:hover {
  opacity: .8;
}

.footer-subscribe .letter {
  width: 28px;
  height: 17px;
  fill: #ffffff;
}

.footer-subscribe-input {
  padding: 0 0 12px 10px;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #ffffff;
  font-size: 16px;
  color: #ffffff;
}

.footer-subscribe-input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.footer-subscribe-input::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.footer-subscribe-input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.successfully-subscribed {
  padding: 0 10px 15px;
  border-bottom: 1px solid #fff;
  margin-top: -15px;
  font-size: 16px;
  .selected {
    width: 24px;
    height: 24px;
    margin-bottom: -10px;
    fill: #fff;
    display: inline-block;
    vertical-align: bottom;
  }
}

.successfully-subscribed-text {
  margin-right: 130px;
  display: inline-block;
  vertical-align: bottom;
}

.social {
  margin-bottom: -5px;
  font-size: 0;
}

.social li {
  display: inline-block;
}

.social li:not(:last-of-type) {
  margin-right: 25px;
}

.social a {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social svg {
  width: 20px;
  height: 20px;
  fill: #c0b7b7;
  transition: all 0.3s ease;
}

.social a:hover {
  background-color: #505b6a;
}

.social a:hover svg {
  fill: #ffffff;
}

.copyright {
  padding: 33px 0 0 42px;
  font-size: 15px;
}
