.header-insurance {
  padding: 0;
  background-color: #1b4d6e;
  .logo {
    max-width: 221px;
    img {
      max-width: 100%;
    }
  }
  .container {
    padding-top: 21px;
    padding-bottom: 18px;
    display: flex;
    align-items: baseline;
  }
  .btn-help {
    margin-left: auto;
  }
}

@import "insurance-steps";

.insurance-info {
  margin-bottom: 47px;
  padding-top: 43px;
  padding-bottom: 30px;
  background-color: #f2f9fb;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  display: flex;
  justify-content: center;
  @include RobotoRegular;
}

.form-insurance {
  padding-bottom: 100px;
  .insurance-form-type_current {
    border-color: #4f8ad9;
    color: #4f8ad9;
  }
  .insurance-form-type {
    margin-bottom: 0;
    padding-left: 0;
    color: #b0aaaa;
  }
  .insurance-form-type_item {
    padding: 11px 15px 11px 14px;
    letter-spacing: 2px;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
  .insurance-form-type_label {
    margin-right: 30px;
    color: #505b6a;
  }
}

.form-insurance-top {
  margin-bottom: 49px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include RobotoBold;
}

.insurance-form-discount {
  color: #585858;
  .text-blue {
    font-size: 22px;
  }
}

.form-insurance-bottom {
  margin-top: 40px;
  padding-top: 50px;
  border-top: 1px solid #f2f9fb;
  display: flex;
  align-items: center;
  .btn-blue {
    min-width: 221px;
    margin-left: auto;
  }
}

.form-insurance-set {
  margin-bottom: 10px;
  padding-top: 5px;
}

.wrap-yes-no .radio-custom-label:not(:last-of-type) {
  margin-right: 20px;
}

.form-insurance-title {
  margin-bottom: 25px;
  padding-top: 0;
  font-size: 20px;
  color: #505b6a;
  @include RobotoRegular;
}

.step-three {
  .form-half .form-half-col:last-of-type {
    text-align: right;
  }
}

.btn-light-area {
  display: flex;
  .btn-light {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
