.header-insurance {
  padding-top: 22px;
  padding-bottom: 16px;
  background-color: #1b4d6e;
  .logo {
    max-width: 255px;
    img {
      max-width: 100%;
    }
  }
}

.header-search-right {
  width: 100%;
  padding: 19px 34px 16px 10px;
  max-width: 280px;
  margin-top: 4px;
  margin-right: 20px;
  text-align: right;
  position: relative;
  z-index: 9;
  float: right;
}

.header-insurance .container {
  position: relative;
}

.header-insurance .header-title {
  margin: 56px 0 0;
}

.clock-info {
  position: absolute;
  right: 55px;
  top: 5px;
  font-size: 17px;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
}

.clock-info-text {
  margin-top: 10px;
}

.form-insurance {
  padding-bottom: 100px;
}

.form-insurance .insurance-type {
  margin-bottom: 41px;
  padding-left: 0;
}

.form-insurance .insurance-type-label {
  margin-right: 29px;
  font-size: 17px;
}

.form-insurance .insurance-type .current {
  border-bottom-color: #4f8ad9;
  color: #4f8ad9;
}

.form-insurance .insurance-type-point {
  font-size: 20px;
}

.form-insurance .insurance-type-point:not(:last-of-type) {
  margin-right: 42px;
}

.form-insurance .insurance-type-point:not(.current) {
  color: #6ba0b2;
  cursor: pointer;
}

.form-insurance .insurance-type-point:not(.current):hover {
  color: #4f8ad9;
}

.form-insurance-field h4 {
  margin-bottom: 25px;
  padding-top: 16px;
}

.form-insurance-field fieldset {
  margin-bottom: 15px;
}

.form-insurance-field .radio-custom-label:first-of-type {
  margin-right: 25px;
}

.form-insurance-field .hint-box {
  margin-left: 10px;
}

.form-insurance-field .form-group {
  position: relative;
}

.form-insurance-field .form-group .hint-box {
  margin-left: 0;
  position: absolute;
  top: 19px;
  right: 27px;
}

.form-insurance-field .form-control {
  height: 65px;
}

.form-insurance-field .required-field:before {
  top: 22px;
}

.form-insurance-field .field-filled .selected {
  top: 28px;
}

.form-insurance-bottom {
  padding-top: 28px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-insurance-bottom .btn-blue {
  margin-left: 80px;
  padding-left: 42px;
  padding-right: 42px;
}

.add-form {
  margin-bottom: 20px;
  position: relative;
}

.add-form-link {
  text-transform: uppercase;
  font-size: 15px;
  color: #6ba0b2;
  cursor: pointer;
  text-decoration: underline;
  font-family: "Roboto-Bold", sans-serif;
}

.add-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.add-info .form-control {
  height: 50px;
  padding-left: 23px;
  padding-right: 15px;
}

.add-info:last-of-type .add-info-label-delete {
  display: block;
}

.add-info-label {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.add-info-label-delete {
  display: none;
  padding-right: 27px;
  color: #e94848;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}

.add-info-label-delete::before, .add-info-label-delete::after {
  height: 16px;
  width: 2px;
  content: '';
  background: #e94848;
  position: absolute;
  right: 7px;
  top: 0;
  border-radius: 2px;
}

.add-info-label-delete::before {
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg);
}

.add-info-label-delete::after {
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}

.box-data {
  width: 31%;
}

.box-experience {
  width: 13%;
}

.contacts-form-info {
  padding-top: 20px;
}

.contacts-form-info fieldset {
  margin-bottom: 30px;
}

.contacts-form-info-title {
  margin-bottom: 35px;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  line-break: auto;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.tooltip.top {
  margin-top: -12px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  width: 410px;
  padding: 15px 20px 20px;
  background-color: #ffffff;
  color: #505b6a;
  line-height: 1.2;
  border-radius: 10px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease;
  font-family: "Roboto-Light", sans-serif;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -6px;
  border-width: 10px 8px 0;
  border-top-color: #ffffff;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}

.tooltip.bottom .tooltip-arrow {
  top: -5px;
  left: 50%;
  margin-left: -4px;
  border-width: 0 8px 10px;
  border-bottom-color: #ffffff;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover > .arrow {
  border-width: 11px;
}

.popover > .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}

.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}

.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}

.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}

.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}

.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}

.hint-box-text {
  width: 319px;
  right: -100%;
  left: auto;
}

.hint-box-text::before {
  left: auto;
  right: 31px;
}
