@import "ui-form-type";
@import "insurance-steps";

.header-insurance {
  padding: 0;
  background-color: #1b4d6e;
  &::before {
    display: none;
  }
  .logo {
    max-width: 221px;
    img {
      max-width: 100%;
    }
  }
  .container {
    padding-top: 21px;
    padding-bottom: 18px;
    display: flex;
    align-items: baseline;
  }
  .btn-help {
    margin-left: auto;
  }
}

.insurance-info {
  min-height: 122px;
  margin-bottom: 47px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f9fb;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include RobotoRegular;
}

.form-insurance {
  padding-bottom: 100px;
  .radio-custom-label {
    color: #505b6a;
  }
  .radio-custom:checked + span {
    color: #4f8ad9;
  }
}

.form-insurance-top {
  margin-top: -18px;
  margin-bottom: 49px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include RobotoBold;
}

.insurance-form-discount {
  color: #585858;
  .text-blue {
    font-size: 22px;
  }
}

.form-insurance-bottom {
  margin-top: 40px;
  padding-top: 50px;
  border-top: 1px solid #f2f9fb;
  display: flex;
  align-items: center;
  .btn-blue {
    min-width: 221px;
    margin-left: auto;
  }
}

.form-insurance-set {
  margin-bottom: 10px;
  padding-top: 5px;
}

.wrap-yes-no .radio-custom-label:not(:last-of-type) {
  margin-right: 20px;
}

.form-insurance-title {
  margin-bottom: 25px;
  padding-top: 0;
  font-size: 20px;
  color: #505b6a;
  @include RobotoRegular;
}

.step-three {
  .form-half .form-half-col:last-of-type {
    text-align: right;
  }
}

.btn-light-area {
  display: flex;
  .btn-light:not(:last-of-type) {
    margin-right: 20px;
  }
}

.step-fo {
  @include RobotoLight;
  .progress {
    margin-bottom: 40px;
  }
  .form-group {
    max-width: 457px;
    margin-top: 15px;
    margin-bottom: 37px;
  }
  textarea.form-control {
    height: 80px;
    padding-top: 29px;
  }
  .text {
    color: #505b6a;
    font-size: 17px;
    line-height: 1.4;
  }
  .text-big {
    font-size: 18px;
    @include RobotoRegular;
  }
}

.send-again {
  margin-bottom: 15px;
  a {
    border-bottom: 1px solid;
    &:hover {
      border-color: transparent;
    }
  }
}

.form-insurance-terms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
