@import "ui-form-type";
@import "insurance-steps";

.header-insurance {
  padding: 0;
  background-color: #1b4d6e;
  &::before {
    display: none;
  }
  .logo {
    max-width: 221px;
    img {
      max-width: 100%;
    }
  }
  .container {
    padding-top: 21px;
    padding-bottom: 18px;
    display: flex;
    align-items: baseline;
  }
  .btn-help {
    margin-left: auto;
  }
}

.insurance-info {
  min-height: 122px;
  margin-bottom: 47px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f9fb;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include RobotoRegular;
}

.form-insurance {
  padding-bottom: 100px;
  .radio-custom-label {
    color: #505b6a;
  }
  .radio-custom:checked + span {
    color: #4f8ad9;
  }
}

.form-insurance-top {
  margin-bottom: 43px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include RobotoBold;
}

.insurance-form-discount {
  color: #585858;
  .text-blue {
    font-size: 22px;
  }
}

.ui-nav {
  margin-top: 40px;
  padding-top: 50px;
  border-top: 1px solid #f2f9fb;
  display: flex;
  align-items: center;
  .btn-blue {
    min-width: 221px;
    margin-left: auto;
  }
  .checkbox-custom-label {
    margin-right: 5px;
  }
  .as-link {
    text-decoration: underline;
  }
  .checkbox-custom-label + .as-link:hover {
    text-decoration: none;
  }
  .checkbox-custom-view span {
    margin-left: 5px;
  }
}

.form-insurance-set {
  margin-bottom: 10px;
  padding-top: 5px;
}

.wrap-yes-no .radio-custom-label:not(:last-of-type) {
  margin-right: 20px;
}

.form-insurance-title {
  margin-bottom: 25px;
  padding-top: 0;
  font-size: 20px;
  color: #505b6a;
  @include RobotoRegular;
}

.step-three {
  .progress {
    margin-bottom: 44px;
  }
  .form-half {
    margin-bottom: 8px;
  }
  .form-insurance-title {
    font-size: 18px;
  }
}

.ui-driver {
  display: flex;
  align-items: center;
  .checkbox-custom-label {
    margin-bottom: 18px;
    margin-left: auto;
  }
}

.btn-light-area {
  display: flex;
  .btn-light:not(:last-of-type) {
    margin-right: 25px;
  }
}

.ui-contacts-info {
  padding-top: 45px;
}

.ui-contacts-info-title {
  margin-bottom: 33px;
  font-size: 28px;
}

.step-fo {
  @include RobotoLight;
  .progress {
    margin-bottom: 40px;
  }
  .form-group {
    max-width: 457px;
    margin-top: 15px;
    margin-bottom: 37px;
  }
  textarea.form-control {
    height: 80px;
    padding-top: 29px;
  }
  .text {
    color: #505b6a;
    font-size: 17px;
    line-height: 1.4;
  }
  .text-big {
    font-size: 18px;
    @include RobotoRegular;
  }
}

.send-again {
  margin-bottom: 15px;
  a {
    border-bottom: 1px solid;
    &:hover {
      border-color: transparent;
    }
  }
}

.ui-terms-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 768px) {
  .insurance-steps {
    svg {
      width: 15px;
      height: 15px;
    }
    .driver {
      width: 18px;
      height: 20px;
    }
  }
  .insurance-steps-wrap {
    padding: 0;
  }
  .insurance-steps-item {
    padding: 14px 0;
    font-size: 12px;
    max-width: calc(100% / 3);
    flex-basis: calc(100% / 3);
    flex-direction: column;
    align-items: center;
    &:not(.insurance-steps-current) svg {
      fill: #c0b7b7;
    }
  }
  .insurance-steps-icon {
    margin-bottom: 5px;
  }
  .insurance-steps-item:not(:last-of-type)::after {
    margin-top: 0;
    top: 18px;
  }
  .insurance-steps-item .arrow-right {
    right: -25px;
    top: 17px;
    width: 16px;
    height: 16px;
  }
  .insurance-steps-item:not(:first-of-type):not(:last-of-type) {
    &::after {
      right: -5px;
    }
    .arrow-right {
      right: -24px;
    }
  }
  .form-insurance-top {
    flex-direction: column;
  }
  .form-insurance .ui-form-type {
    margin-bottom: 33px;
  }
  .form-insurance .ui-form-type_label {
    margin-right: 20px;
  }
  .form-insurance .ui-form-type_item {
    padding-right: 12px;
  }
  .form-insurance .ui-form-type_item:not(:last-of-type) {
    margin-right: 11px;
  }
  .insurance-form-discount {
    font-size: 20px;
    .text-blue {
      font-size: 21px;
    }
  }
  .form-insurance-top {
    margin-bottom: 28px;
  }
  .progress {
    height: 40px;
  }
  .ui-nav {
    padding-top: 23px;
    flex-wrap: wrap;
  }
  .ui-terms {
    min-height: 161px;
    padding-left: 48px;
    .checkbox-custom-label {
      margin-left: -48px;
      + .as-link {
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
  .btn-light-area {
    margin-bottom: 20px;
  }
}
