header {
  padding-top: 34px;
  padding-bottom: 79px;
  position: relative;
  color: #ffffff;
}

header::before {
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .45);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

header a {
  color: #ffffff;
}

header .container {
  position: relative;
  z-index: 7;
}

.header-center {
  text-align: center;
}

.header-title {
  margin-bottom: 15px;
  font-size: 33px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Roboto-Bold", sans-serif;
}

.header-intro-text {
  margin-bottom: 34px;
  line-height: 1.2;
  font-size: 18px;
  @include RobotoLight;
}

.header-home {
  width: 100%;
  background-image: url(../img/bg-home-header.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-home .header-center {
  padding-top: 136px;
}

.header-form {
  max-width: 945px;
  margin: 0 auto 110px;
  padding: 30px 67px;
  background-color: rgba(#221f1f, .15);
}

.header-form-type {
  padding-left: 40px;
  margin-bottom: 18px;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-form-type_label {
  margin-right: 20px;
  font-size: 16px;
  @include RobotoRegular;
}

.header-form-type_item {
  margin-right: 10px;
  border: 2px solid transparent;
  padding: 9px 11px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.3s ease;
  @include RobotoBold;
  &:not(.header-form-type_current) {
    cursor: pointer;
    &:hover {
      opacity: .9;
    }
  }
}

.header-form-type_current {
  border-color: #fff;
}

.header-form-search {
  @include clearfix;
  .btn-blue {
    float: right;
    padding: 33px 56px 32px 53px;
  }
}

.header-form-input {
  width: calc(100% - 173px);
  float: left;
  position: relative;
  z-index: 15;
  &::before {
    margin-top: -12px;
    top: 50%;
    left: 24px;
    font-size: 20px;
    position: absolute;
    color: #df4a4a;
    content: '*';
    z-index: 20;
    @include RobotoRegular;
  }
  .arrow {
    width: 17px;
    height: 12px;
    margin-top: -6px;
    top: 50%;
    right: 38px;
    position: absolute;
    z-index: 18;
    fill: #c0b7b7;
    cursor: pointer;
    transform: rotate(90deg);
  }
}

.header-form-field {
  width: 100%;
  height: 80px;
  padding: 0 38px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  z-index: 10;
  color: #505b6a;
  font-size: 16px;
  font-weight: normal;
  border: 2px solid transparent;
}

.header-partners {
/*  display: flex;
  justify-content: space-between;
  align-items: center;*/
  .swiper-slide {
    opacity: .55;
    transition: all 0.3s ease;
    //flex-basis: calc(100% / 6);
    &:hover {
      opacity: 1;
    }
  }
 .first img {
    max-width: 165px;
  }
  .second img {
    max-width: 161px;
  }
  .third img {
    max-width: (274px / 2);
  }
  .forth img {
    max-width: (306px / 2);
  }
  .fifth img {
    max-width: (358px / 2);
  }
  .sixth img {
    max-width: (272px / 2);
  }
}

/* Old @todo */
.header-about {
  background: url(../img/bg-about-us.jpg) no-repeat 0 0;
  background-size: cover;
}

