.insurance-steps {
  margin-bottom: 50px;
  overflow: hidden;
  border-bottom: 1px solid #e3e3e3;
  svg {
    width: 21px;
    height: 21px;
    margin: 10px 0 0 10px;
    fill: #fff;
  }
}

.insurance-steps-wrap {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.insurance-steps-item {
  height: 80px;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  color: #c0b7b7;
  max-width: 31%;
  flex-basis: 31%;
  display: flex;
  align-items: center;
  @include RobotoBold;
  .auto {
    width: 21px;
    height: 21px;
    margin: 10px 0 0 10px;
  }

  .arrow-right {
    fill: #c0b7b7;
    position: absolute;
    right: -30px;
    top: 21px;
    width: 19px;
    height: 19px;
  }

  &:first-of-type {
    padding-left: 35px;
    background-color: #4f8ad9;
    &::before {
      width: 160rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 100%;
      background-color: inherit;
      content: '';
    }
  }

  &:not(:last-of-type)::after {
    width: 14px;
    height: 14px;
    margin-top: -7px;
    top: 50%;
    right: -7px;
    border: 2px solid #fff;
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #a7c343;
    content: '';
  }

  &:not(.insurance-steps-current) .insurance-steps-icon {
    background-color: #c0b7b7;
  }

  &:not(:first-of-type):not(:last-of-type) {
    justify-content: center;
    &::after {
      right: -35px;
    }
    .arrow-right {
      right: -58px;
    }
  }

  &:last-of-type {
    padding-right: 53px;
    justify-content: flex-end;
  }
}

.insurance-steps-current {
  color: #fff;
  .insurance-steps-icon {
    background-color: #a7c343;
  }
}

.insurance-steps-icon {
  background-color: #a7c343;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  border-radius: 50%;
}
