.insurance-steps {
  overflow: hidden;
  border-bottom: 1px solid #e3e3e3;
  svg {
    fill: #fff;
  }
}

.insurance-steps-wrap {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.insurance-steps-item {
  position: relative;
  text-transform: uppercase;
  z-index: 5;
  color: #fff;
  background-color: #4f8ad9;
  display: flex;
  @include RobotoBold;
  .auto {
    width: 21px;
    height: 21px;
  }

  .arrow-right {
    fill: #fff;
    position: absolute;
    right: -30px;
    top: 21px;
    width: 19px;
    height: 19px;
  }

  &:not(:last-of-type)::after {
    width: 14px;
    height: 14px;
    margin-top: -7px;
    top: 50%;
    right: -7px;
    border: 2px solid #fff;
    position: absolute;
    border-radius: 50%;
    background-color: #a7c343;
    content: '';
  }

  &:not(:first-of-type):not(:last-of-type) {
    justify-content: center;
    &::after {
      right: -35px;
    }
    .arrow-right {
      right: -58px;
    }
  }

  &:last-of-type {
    z-index: 2;
    justify-content: flex-end;
  }
}

.insurance-steps-current {
  color: #fff;
  background-color: #4f8ad9;
  z-index: 4;
  &::before {
    width: 160rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: inherit;
    content: '';
  }
  .arrow-right {
    fill: #c0b7b7;
  }
  ~ .insurance-steps-item {
    color: #c0b7b7;
    background-color: #fff;
    .arrow-right {
      fill: #c0b7b7;
    }
  }
  &:last-of-type::after {
      width: 160rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: 100%;
      background-color: inherit;
      content: '';
  }
}

.form-insurance-bottom {
  .checkbox-custom-label {
    margin-right: 5px;
  }
  .as-link {
    text-decoration: underline;
  }

  .checkbox-custom-label + .as-link:hover {
    text-decoration: none;
  }

  .checkbox-custom-view span {
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .insurance-steps {
    svg {
      width: 15px;
      height: 15px;
    }
    .driver {
      width: 18px;
      height: 20px;
    }
  }
  .insurance-steps-wrap {
    padding: 0;
  }
  .insurance-steps-item {
    padding: 14px 0;
    font-size: 12px;
    max-width: calc(100% / 3);
    flex-basis: calc(100% / 3);
    flex-direction: column;
    align-items: center;
    &:not(.insurance-steps-current) svg {
      fill: #c0b7b7;
    }
  }
  .insurance-steps-icon {
    margin-bottom: 5px;
  }
  .insurance-steps-item:not(:last-of-type)::after {
    margin-top: 0;
    top: 18px;
  }
  .insurance-steps-item .arrow-right {
    right: -24px;
    top: 17px;
    width: 16px;
    height: 16px;
  }
  .insurance-steps-item:not(:first-of-type):not(:last-of-type) {
    &::after {
      right: -5px;
    }
    .arrow-right {
      right: -21px;
    }
  }
  .form-insurance-top {
    flex-direction: column;
  }
  .insurance-form-type {
    width: 100%;
  }
  .form-insurance .insurance-form-type {
    margin-bottom: 33px;
  }
  .form-insurance .insurance-form-type_label {
    margin-right: 20px;
    white-space: nowrap;
  }
  .form-insurance .insurance-form-type_item {
    padding-right: 12px;
  }
  .form-insurance .insurance-form-type_item:not(:last-of-type) {
    margin-right: 11px;
  }
  .insurance-form-discount {
    font-size: 20px;
    .text-blue {
      font-size: 21px;
    }
  }
  .form-insurance-top {
    margin-bottom: 28px;
  }
  .progress {
    height: 40px;
  }
  .form-insurance-bottom {
    min-height: 161px;
    padding-top: 23px;
    padding-left: 48px;
    flex-wrap: wrap;
  }
  .checkbox-custom-label {
    margin-left: -48px;
    + .as-link {
      margin-left: 0;
      display: inline-block;
    }
  }
  .form-control {
    height: 69px;
  }
}

@media (max-width: 414px) {
  .form-insurance-bottom {
    min-height: 1px;
    .btn-blue {
      margin-top: 38px;
    }
  }
}

@media (min-width: 769px) {
  .insurance-steps svg {
    width: 21px;
    height: 21px;
    margin: 10px 0 0 10px;
  }
  .insurance-steps-item {
    max-width: calc(100% / 3 - 20px);
    flex-basis: calc(100% / 3 - 20px);

    &:not(.insurance-steps-current) .insurance-steps-icon {
      background-color: #c0b7b7;
    }
  }
  .insurance-steps-icon {
    width: 40px;
    height: 40px;
    margin-right: 25px;
    border-radius: 50%;
  }
  .insurance-steps-current .insurance-steps-icon {
    background-color: #a7c343;
  }
}