.manual {
  padding-top: 87px;
  padding-bottom: 109px;

  .h3 {
    padding-top: 23px;
    margin-bottom: 22px;
  }

  .btn-blue {
    margin-top: 22px;
  }
  .container:after {
    display: table;
    clear: both;
    content: "";
  }
}

.manual-title {
  margin-bottom: 15px;
  text-align: center;
}

.manual-pre-title {
  margin-bottom: 103px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.manual-one {
  padding-bottom: 85px;
  .h3 {
    padding-top: 54px;
    margin-bottom: 27px;
  }
}

.manual-one .manual-media img {
  margin-left: -30px;
  box-shadow: none;
}

.manual-one .manual-media::before {
  right: 16%;
  content: '1';
  top: 10px;
}

.manual-one .manual-text h2 {
  padding-top: 52px;
}

.manual-two {
  padding: 105px 0 98px;
  position: relative;
  background-color: #f7f7f7;
}

.manual-two .manual-text {
  margin: 0 125px 0 32px;
}

.manual-two .manual-media {
  text-align: center;
}

.manual-two .manual-media::before {
  left: -27px;
  content: '2';
}

.manual-three {
  padding-top: 114px;
}

.manual-three .manual-media {
  margin: 0 110px 0 32px;
}

.manual-three .manual-media::before {
  right: -29px;
  content: '3';
}

.manual-media {
  position: relative;
}

.manual-media:after {
  display: table;
  clear: both;
  content: "";
}

.manual-media img {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.18);
}

.manual-media::before {
  width: 47px;
  height: 47px;
  position: absolute;
  top: -19px;
  border-radius: 50%;
  font-size: 19px;
  color: #ffffff;
  background-color: #a7c343;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Roboto-Bold", sans-serif;
}

.manual-media-map {
  max-width: 364px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
}

.manual-text {
  line-height: 1.2;
}

.manual-text h2 {
  margin-bottom: 29px;
  padding-top: 28px;
}
